{% extends "base.html" %}
{% from 'base.html' import input, msg %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}
    <div>
    <form method='POST' action="">
	{{ form.hidden_tag() }}
	{{ input('old_pwd', 'Old Password') }}
	{{ msg(form.old_pwd.errors) }}     
	{{ input('new_pwd', 'New Password') }}
	{{ msg(form.new_pwd.errors) }}     
	{{ input('confirm_pwd', 'Confirm') }}
	{{ msg(form.confirm_pwd.errors) }}
	<input class='btn btn-primary' type='submit' value='Confirm'>
</form>
	

{% endblock %}

