{% extends "base.html" %}
{% from 'base.html' import input,msg %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}
<div class="row">
    <div class = "col-lg-5">
	<div class = "well well-lg">你当前的用户名为:{{user.username}}</div>
    </div>
</div>
<div class="row">
    <div class = "col-lg-4">
	<form method="POST" action="">
	    {{ form.hidden_tag() }}
	    {{ input('new_name', '新用户名') }}
	    {{ msg(form.new_name.errors) }}
	    <input class="btn btn-primary" type="submit" value="Confirm">
	</form>
    </div>
</div>


{% endblock %}

