{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}

<div class = "row">
    <table class="table">
        <tbody>
            <tr>
                <td>username:{{user.username}}</td>
                <td><a href="{{url_for('setting.changeUsername',username=user.username)}}">Change</a></td>
            </tr>
            <tr>
		<td>pasword:****** </td>
                <td><a href="{{url_for('setting.changePassword',username=user.username)}}">Change</a></td>
            </tr>
            <tr>
                <td>Logs:</td>
                <td><a href="{{url_for('logs.logs',username=user.username)}}">Show my logs</a></td>
        </tbody>

    </table>
</div>
{% endblock %}


