{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}

<div class = "row">
    <table class="table">
	<tbody>
	    <tr>
		<td>Log id :</td><td>{{log.log_id}}</td></tr>
	    <tr>
		<td>Info :</td><td>{{log.info|safe}}</td></tr>
	    <tr>
		<td>User :</td><td>{{user.username}}</td></tr>
	    <tr>
		<td>Created time :</td><td>{{log.created|safe}}</td></tr>
	    <tr>
		<td>Status :</td><td>{{log.stat|safe}}</td></tr>
	    <tr>
		<td><a href="{{url_for('user.user',username=user.username)}}">Have any question?</a></td><td></td></tr>
	</tbody>
    </table>
</div>
{% endblock %}
