{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}

<div class = "row">
    <table class="table">
	<thead>
	    <tr>
		<th>历史订单</th>
		<th>创建时间</th>
		<th>状态</th>
		<th></th>
	    </tr>
	</thead>
	<tbody>
	    {% for log in logs %}
            <tr>
                <td>{{log.info|truncate(30)|safe}}</td>
                <td>{{log.created|safe}}</td>
		<td>{{log.stat|safe}}</td>
		<td><a href="{{url_for('logs.log',username=user.username,log_id=log.log_id)}}">Show Detail</a></td>
            </tr>
	     {% endfor %}
    </table>
</div>
{% endblock %}
